body {
    background-color:grey;
}

/* Navbar styling */

#navMain {
    font-family: 'Raleway';
    font-size: 20px;
    /* text-transform: uppercase; */
    background: rgb(230, 215, 215);
}

#navMain .navbar-toggler {
    font-size: 10px;
    padding: 15px;
    color: rgb(223, 213, 213);
}
#navMain a {
    color: rgb(214, 194, 194);
    text-decoration: none;
}

#navMain .navbar-nav .nav-item:active,
#navMain .navbar-nav .nav-item:focus {
    outline: none;
    background-color: rgb(112, 101, 101);
}

@media (min-width: 992px) {
    #navMain {
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s;
        -moz-transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s;
        transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s;
        letter-spacing: 1px;
        background: rgb(231, 220, 220);
        border-bottom: 1px solid #e6e6e6;
        /* height: 70px; */
    }
    #navMain .nav-link.active {
        outline: none;
        background-color: rgb(218, 206, 206);
    }
    #navMain .nav-link.active:hover {
        color: rgb(230, 200, 200);
        background-color: rgba(167, 165, 155, 0.637)
    }
    #navMain.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 10px;
        background: rgb(255, 255, 255);
        border-bottom: 1px solid #e6e6e6;
    }
    #navMain.navbar-shrink a {
        color: rgba(26, 18, 18, 0.973);
    }
}
.nav-search {
    display: flex;
    justify-content: center;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.home-images {
    background-color: rgb(241, 222, 222);
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 0 0 10px;
}
.home-images img {
    width: 100%;
    border-top: 1px solid #ecd4d4;
    border-bottom: 1px solid #f1dbdb;
}

.top {
    padding-top: 6rem;
}

.top-section {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.top-section img {
    width: 10rem;
    height: 10rem;
}

.profile-image {
    display: flex;
    justify-content: center;
}
profile-image img {
    border-radius: 10rem;
}

.user-images img {
    width: 100%;
    /* height: inherit; */
}

.images {
    padding: 5px;
    height: 33.3%;
    overflow: hidden;
}

.username {
    font-family: 'Raleway';
    font-size: 35px;
}
