<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navMain">
    <div class="container">
        <a class="smooth-scroll" href="/"><i class="fa-thin fa-house-person-return">|</i></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <p style="font-family: 'Billabong', cursive; font-size: 30px;
        ">Neighbourhood</p>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <div class="container-fluid">
                <div class="row">
                  {% if user is authenticated %}
                  <a href="{% url 'signup' %}">signup</a>
                  {% endif %}
                 
                    <div class="col-md-12 nav-search">
                        <form class="form-inline">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search neighbourhood" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                          </form>
                    </div>
                </div>
            </div>
            
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-default btn-rounded" href="{% url 'profile' username=user %}">{{user}}</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>